/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #203763;
	color: #2e4575;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #642f16;
	color: #1a1515;
}